<div class="wrapper {{storedTheme}} container-fluid  ">
  <div class="container">
    <div class="box card ">
      <div class="navigation rounded ">
          <nav class=" d-flex align-content-center mt-2 container-fluid">
              <div class="navbrand">
                kaculator
              </div>
              <!-- <div class="toggle">
                <div class="toggle-box mb-1">
                  <div></div>
                  <div >1 2 3</div>
                  <div> theme </div>
                  <div (click)="setTheme('light-theme')"> 
                    <label class="switch" >
                      <input type="checkbox" class=" checkbox" >
                      <span class="slider round"></span>
                      <label *ngIf="!currentTheme">black</label>
                      <label *ngIf="currentTheme">white</label> -->
                      <!-- </label>
                  </div>
                </div>
              </div> --> 
              <div class="theme" >
                <button class="btntoggle btn" *ngIf="!show" (click)="setTheme('dark-theme')" > dark</button>
                <button class="btntoggle btn" *ngIf="show" (click)="setTheme('light-theme')">light</button>
              </div>

            </nav>
      </div>
      <div class="display rounded  p-2">
        <div > {{subDisplayText}}</div>
        <div >   {{mainDisplayText}}    </div>  
      </div>
      <div class="keyboard  rounded p-3">
        <div class="key-digits btn-calc mb-4 container">
          <button class="key btn rounded" (click)="pressKey('7')" >7</button>
          <button class="key btn rounded" (click)="pressKey('8')" >8</button>
          <button class="key btn rounded" (click)="pressKey('9')"  >9</button>
          <button class="key btn del rounded" (click)="del()" >DEL</button>
          <button class="key btn rounded" (click)="pressKey('4')"   >4</button>
          <button class="key btn rounded" (click)="pressKey('5')"  >5</button>
          <button class="key btn rounded" (click)="pressKey('6')" >6</button>
          <button class="key btn  rounded" (click)="pressKey('+')" >+</button>
          <button class="key btn rounded" (click)="pressKey('1')" >1</button>
          <button class="key btn rounded" (click)="pressKey('2')" >2</button>
          <button class="key btn rounded" (click)="pressKey('3')" >3</button>
          <button class="key btn  rounded" (click)="pressKey('-')"  >-</button>
          <button class="key btn  rounded" (click)="pressKey('.')" >.</button>
          <button class="key btn rounded"  (click)="pressKey('0')"  >0</button>
          <button class="key btn  rounded" (click)="pressKey('/')" >/</button>
          <button class="key btn rounded" (click)="pressKey('x')" >x </button>
        </div>
        <div class="key-button  container">
            <div class="row gap-4 btn-calc justify-content-between">
              <button class="col-5 key btn  rounded reset" (click)="allClear()" >RESET</button>
              <button class="col-5 key btn  rounded " (click)="getAnswer()" > = </button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
      